.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.list {
  display: grid;
  gap: 16px;
}

/* Tablet — 2 карточки */
@media (min-width: 768px) and (max-width: 1279px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

/* Desktop — 4 карточки */
@media (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
