.list {
  display: grid;
  gap: 24px;
}

/* Desktop — 4 карточки */
@media (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet — 2 карточки */
@media (min-width: 768px) and (max-width: 1279px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile — 1 карточка */
@media (max-width: 767px) {
  .list {
    grid-template-columns: 1fr;
  }
}
