.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 249px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background: #9b6c43;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: var(--transition-base);
}

.button:hover {
  background: var(--light-beige);
}

@media screen and (min-width: 769px) {
  .button {
    width: 100%;
  }
}
