.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.profileTitle {
  font-weight: 600;
  font-size: 40px;

  line-height: 1.2;
  color: #000;
  margin-bottom: 16px;
}

.profileInfo {
  margin-bottom: 20px;
}

.recipesCount {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

@media (min-width: 768px) {
  .container {
    padding-top: 106px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .profileTitle {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .recipesCount {
    font-size: 18px;
  }

  .profileInfo {
    margin-bottom: 24px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-top: 122px;
    padding-bottom: 64px;
  }

  .profileTitle {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .recipesCount {
    font-size: 20px;
  }

  .profileInfo {
    margin-bottom: 32px;
  }
}

.profileRecipes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
