.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  min-height: 16px;
  margin-top: 4px;
  margin-left: 15px;
  color: #c80000;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
}

.inputWrapper {
  display: flex;
  gap: 6px;
}

.input {
  height: 46px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  outline: none;
}

.input::placeholder {
  color: #9f9f9f;
}

.inputError {
  border: 1px solid #c80000 !important;
}

.inputError::placeholder {
  color: #c80000 !important;
  opacity: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #9b6c43;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.button:hover,
.button:focus {
  background-color: #6d554b;
}

@media screen and (max-width: 767px) {
  .inputWrapper {
    flex-direction: column;
    gap: 24px;
  }

  .input {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .form {
    width: 657px;
    min-width: 657px;
  }

  .inputWrapper {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
    width: 657px;
  }

  .input {
    width: 471px;
    min-width: 471px;
  }

  .button {
    width: 176px;
    min-width: 176px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1440px) {
  .inputWrapper {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .input {
    width: 459px;
  }

  .button {
    width: 190px;
    flex-shrink: 0;
  }
}