.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.label {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #050505;
}


.uploadArea {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 280px;
    border: none;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.input {
    display: none;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.placeholderText {
    display: flex;
    align-items: center;
    justify-content: center;
}


.placeholderText svg,
.placeholderText img {
    width: 48px;
    height: 48px;
    opacity: 0.4;
    
}

.preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.removeBtn {
    width: 100%;
    max-width: 280px;
    height: 44px;
    border: none;
    border-radius: 12px;
    background: #ececec;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
    transition: opacity 0.3s ease;
}

.removeBtn:hover {
    opacity: 0.85;
}

.error {
    color: #d32f2f;
    font-size: 12px;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .uploadArea {
        max-width: 320px;
    }

    .removeBtn {
        max-width: 320px;
    }
}